<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clappr :: <%= name %> plugin</title>
  </head>
  <body>
    <div id="player"></div>
    <script type="text/javascript" charset="utf-8">
      window.onload = function() {
        player = new Clappr.Player({
          source: 'http://techslides.com/demos/sample-videos/small.mp4',
          parentId: '#player',
          position: 'top-right',
          <% if(pluginType === 'mediacontrol') { %>
            mediacontrol: {
              external: <%= classname %>
            }
          <% } else { %>
            plugins: {
              <%= pluginType %>: [<%= classname %>]
            }
          <% } %>
        });
      }
    </script>
    <script type="text/javascript" charset="utf-8" src="./node_modules/clappr/dist/clappr.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="./<%= name %>.js"> </script>
  </body>
</html>
